body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	margin: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: x;
}

.body-left,
.body-rigth {
	padding: x;
}

input {
	border: none;
	border-bottom: grey;
}

.postcard-footer {
	text-align: x;
}

button {
	background-color: gray;
	padding: x;
}
