body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 600px;
	margin: 1px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0%;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: gray !important;
	margin: auto;
	color: gray;
	font-size: 16px;
	font-family: "Calibri";
}
h1 {
	font-family: "Calibri";
}
p {
	font-size: 15px;
	font-family: "Calibri";
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(134, 124, 124);
	padding: 5px;
}
