body {
	background: black;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.card {
	width: 350px;
	height: 300px;
	background: white; 
	margin: auto;
	position: relative;
}
.header {
	display: flex;
}
.header img {
	width: 50px;
	height: 50px;
	padding: 10px;
}
.header h1 {
	width: 350px;
	margin: 10px;
	font-weight: bold;
}
.body {
	display: flex;
}
.body-left {
	margin: 10px;
}
.body-left p:first-child {
	margin-top: 3px;
}
.body-right {
	padding: 10px;
}
.footer {
	text-align: center;
	position: absolute;
	bottom: 5px;
	padding: 10px;
	width: 290px;
}
input {
	border: none;
	border-bottom: groove;
}
button {
	background-color: grey;
}
