body {
	background: black;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 5px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 1px;
}
* {
    border: 1px dashed red;
    min-height: 10px;
}