body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 1000px;
	margin: auto;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: x;
	font-style: italic;
}
.body-left,
.body-right {
	padding: x;
	font-style: oblique;
}
input {
	border: none;
	border-bottom: 1px black;
	color: grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 10px;
}
