body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header > img {
	width: 50px;
	height: 50px;
}
h1 {
	width: 180px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
