body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	width: 400px;
	height: 300px;
	background: white;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-header img {
	width: 40px;
	height: 40px;
}
.postcard-body {
	display: flex;
}
