* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}

input {
	border: none;
	border-bottom: 1px solid gray;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-body {
	display: flex;
}

.body-left,
.body-right {
	padding: 10px;
}

.body-left p:first-child {
	margin-top: 0;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	background-color: #b8b8b8;
	padding: 4px;
}
