body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}
.postcard-header h1 {
	width: auto;
	float: left;
	font-family: ;
	display: flex;
	padding-left: 1px;
	padding-right: 155px;
	margin: auto;
	margin-left: auto;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	display: flex;
	padding-right: 5px;
}
.postcard-body {
	display: flex;
	padding: 5px;
}
.body-left p:first-child {
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 1px;
	padding-right: 5px;
	text-align: justify;
}
.body-left,
.body-right {
	padding: 5px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: justify;
}
.postcard-footer {
	text-align: center;
	padding: 5px;
}
button:hover {
	background-color: grey;
	background-color: darkgrey;
}
