body {
	background: black;
	font-family: "Mooli", sans-serif;
}
.postcard {
	width: 400px;
	height: 300px;
	background: white;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
	padding-top: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 6px 10px;
	border: none;
}