body {
	background: black;
    

* {

    font-family: "Handlee";
    font-weight: bold;
}
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
	padding-right: 10px;
	padding-top: 10px;
}

.postcard-header h1 {
	width: 350px;
	margin: 0;
	padding-left: 20px;
	padding-top: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 20px;
}

input {
	border: none;
	border-bottom: gray 1px solid;
	width: 150px;
}

p {
	font-size: 14px;
    
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: lightgrey;
	padding: 5px;
	border: none;
	border-bottom: gray 1px solid;
}

