body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard-header {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-body {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-footer {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
