*{
    border: 1px dashed red;
    min-height: 10px;
}


body{
    background: black;

    

}


.postcard{
    width: 400px;
    height: 300px;
    background-color: white;
    margin: auto;
}

.postcard-header{
    display: flex;
}


.postcard-header h1{
    width: 100%;
    margin: 0;
}

.postcard-header img{
    width: 50px;
    height: 50px;

}

.postcard-body{
    display: flex;
    
}

.body-left p:first-child{
    margin-top:0;
}

.body-left, .body-right{
    padding: 10px;
}

input{
    border: none;
    border-bottom: 1px grey solid;
}

.postcard-footer{
    text-align: center;
}
button{
    background-color: aliceblue;
    padding: 5px 10px;
}
