@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

body {
	background: black;
	font-family: Handlee;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
    padding: 5px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
    padding: 10px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
	font-size: medium;
}

.body-left p {
	margin-top: 0px;
	font-weight: bold;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: solid grey;
	font-family: Handlee;
}

.postcard-footer {
	text-align: center;
}

button {
	padding: 2%;
	font-family: Handlee;
	font-weight: bold;
	border: hidden;
	border-bottom: solid grey;
}