* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	margin: 0 auto;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 20px;
}

input {
	border: none;
	border-bottom: grey;
}

p {
	font-size: medium;
}

input {
	border-bottom:black 1px;
}
