body {
	background: black;
	font-family: "Comic Neue", serif;
	font-weight: 700;
	font-style: normal;
}
* {
	border: none;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	padding: 10px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 100%;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 10px;
}
input {
	border: none;
	border-bottom: 1px gray solid;
}
p {
	font-size: medium;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: rgb(186, 184, 184);
	padding: 5px 10px;
	border: none;
}
