*{ box-sizing: border-box;}
body{ background: black; font-family: Arial, Helvetica, sans-serif}
.card{ width: 600px; margin: 100px auto; background: white;}
.header{ display: flex; padding: 10px; }
.header img{ height: 70px;}
.header h1{ width: 100%; }
.body{ display: flex; }
.body .left, .body .right{ width: 50%; padding: 0 10px; }
input{ width: 100%; padding: 5px; margin: 3px 0; border: 0; border-bottom: 1px solid #BDBDBD;}
.footer{text-align: center; padding: 10px;}
button{padding: 10px 20px; font-size: 14px;}